<header  class="d-flex flex-row justify-content-between pt-2">
    <div class="m-0 ps-2">
        logo
    </div>
    <div class="m-0">
        <a href="/chat">
            <button type="button" class="btn btn-light">Chat</button>
        </a>
    </div>
    <div class="m-0">
        <form action="/logout" method="POST">
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
    </div>
</header>