<div class="d-flex flex-row justify-content-center align-content-center">
    <div class="d-flex flex-column gap-4 justify-content-end mt-5 bg-primary-subtle p-3 rounded-4">
        <div id="frame">
            <div>{{> conversation}}</div>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <form action="/chat" method="POST">
                <label for="message">
                </label>
                <input type="text" id="message" name="message" class="rounded-3 border-0">
                <button type="button" id="submit-button" class="rounded-3 border-0">Submit</button>
            </form>
        </div>
    </div>
</div>
<script> //https://jsfiddle.net/9bazc6hx/3/ TODO: scroll direct bottom
    const scrollToBottom = (id) => {
        const element = document.getElementById(id);
        element.scrollTop = element.scrollHeight;
    }
    
    $(window).on("load", function() {
        scrollToBottom("frame");
    });
</script>