{{>header homePage=true}}
<!-- The video -->
<video autoplay muted loop id="myVideo">
  <source src="/videos/home.mp4" type="video/mp4">
</video>

<!-- Optional: some overlay text to describe the video -->
<div class="content d-flex justify-content-between ps-4 pe-4">
  <a href="https://github.com/TherapyAI/TherapyAI" target="_blank" class="logo header btn-buttom fw-bold fs-4">Github</a>

  <div class="header justify-content-center gap-3">
    by
    <a href="https://www.linkedin.com/in/erica-sanchez-11725426/" class="logo fw-bold fs-5 header bg-transparent" target="_blank">Erica Sanchez</a>
    and
    <a href="https://www.linkedin.com/in/javier-moreno-gaona" class="logo header fw-bold fs-5 bg-transparent" target="_blank">Javideas</a>
  </div>

  <button id="myBtn" class="logo m-0 d-flex align-items-center gap-2 bg-transparent rounded p-1" onclick="myFunction()">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#74b5f9" class="bi bi-pause-btn" viewBox="0 0 16 16">
    <path d="M6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
    </svg>
    <div class="header">Pause video</div>
  </button>
</div>

<script>
// Get the video
var video = document.getElementById("myVideo");

// Get the button
var btn = document.getElementById("myBtn");

// Pause and play the video, and change the button text
function myFunction() {
  if (video.paused) {
    video.play();
    btn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#74b5f9" class="bi bi-pause-btn" viewBox="0 0 16 16">
    <path d="M6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
    </svg>
    <div class="header">Pause video</div>`;
  } else {
    video.pause();
    btn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#74b5f9" class="bi bi-play-btn" viewBox="0 0 16 16">
    <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
    </svg>
    <div class="header">Play video</div>`;
  }
}
</script>