<div class="askPermission row justify-content-center align-content-center">
    <div class="messagePermission d-flex flex-column gap-3">
        <p>Due the cost of the API calls, send us a Linkedin message with the email you used to register to one our profiles to give full access:</p>
        <div class="d-flex flex-row justify-content-center gap-3">
            <a href="https://es.linkedin.com/in/javier-moreno-gaona" class="linkedin" target="_blank">Javideas</a>
            <a href="https://www.linkedin.com/in/erica-sanchez-11725426/" class="linkedin" target="_blank">Erica Sanchez</a>
        </div>
        <p>In the meantime enjoy our <a href="/" class="showcase">showcase videos</a></p>
    </div>
</div>